# Dependencies
/node_modules
/.pnp
.pnp.js




# Next.js Build and Cache
/.next/
/out/

# Production Build
/build

# Environment Variables (Secrets)
.env*.local
.env
.env.development.local
.env.local
.env.production.local
.env.test.local

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel Deployment
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
/coverage

# System / IDE Files
.DS_Store
.vscode/
.idea/


# Secret Firebase admin keys
*.json
!package.json
!jsconfig.json
